@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: EB Garamond;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo{
  height: 50px;
  width: 100px;
  background-color: white;
}
.mynavbar {
  background-color: rgba(3, 82, 135, 0.84);
  position: fixed;
}

.landingpage {
background-image: url("./Images/img display.jpg");
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
height: 100vh;
position: relative;
width: 100%;
}
.overlay {
position: absolute;
top:0;
left: 0;
max-height: 100vh;
background-color: rgba(0,0,0, 0.7);
width: 100%;
height: 100%;
z-index:1;
}
.container-fluid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

.landingpage p {
  width: 60%;
  font-size: 120%;
}

.second {
background-image: url("./Images/img descrip.jpg");
background-position: bottom right;
background-repeat: no-repeat;
}
.maincont {
  width: 95%;
  margin: 0 auto;
}

.cont1 {
  background-color:rgba(255, 255, 255, 0.8);
  max-width: 100%;
}
h2 {
  font-weight: bold;
}
.headgr {
  width: 60%;
  margin: 0 auto;
}

.maincont2 {
  width: 90%;
  margin: 0 auto;
}

.cont3, .imgcont {
  width: 90%;
  margin: 5% auto;
}
.cont3 p {
  font-size:18px;
}

#limg {
  max-width:100%;
}

.fourth {
  background-image: url("./Images/img descrip 2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.cont4{
  width: 90%;
  margin: 2% auto;
}

.mcont {
  width:90%;
  margin: 0 auto;
  color:white;
}

.mcont .media p {
  width: 70%;
  text-align: justify;
}

.six {
  background-image: url("./Images/img team.jpg");
  background-size: cover;
  background-position:center top;
  background-attachment: fixed;
  height: 70vh;
  position: relative;
}

.overlay2 {
  width: 100%;
  background-color: rgba(0,0,0,.8);
  height: 70vh;
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
}

.contsix {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

#clogo {
  width:150px;
}
#flogo {
  width:250px;
}


ul {
  list-style-type: none;
  margin: auto;
}

.conteight {
  width: 95%;
  margin: 0% auto;
}
